:root {
  --friendly: #43DFDF27;
  --neutral: #F1D83627;
  --hostile: #E7212427;
}

.hostile {
    background: var(--hostile) !important;
}

.neutral {
    background: var(--neutral) !important;
}

.friendly {
    background: var(--friendly) !important;
}

.hover {
    filter: brightness(125%) !important;
    z-index: calc(var(--z-index-app) - 1);
}

.hidden {
    filter: brightness(75%) !important;
}