.combatant.hover {
  backdrop-filter: brightness(150%) !important;
  z-index: calc(var(--z-index-app) - 1);
  transition: backdrop-filter 0.2s;
}

div#combat-popout .combatant.hover {
  backdrop-filter: brightness(300%) !important;
}

.combatant.hidden {
  filter: brightness(75%) !important;
}

.combat-tracker-disposition.custom-colors .colour-selections {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
