<form class="combat-tracker-disposition custom-colour-form">
  <section class="colour-selections">
    <div class="form-group hostile">
      <label for="hostile-colour">Hostile Colour</label>
      <color-picker
        name="hostile-colour"
        value="{{hostile}}"
        placeholder="#000000"
      />
    </div>
    <div class="form-group neutral">
      <label for="neutral-colour">Neutral Colour</label>
      <color-picker
        name="neutral-colour"
        value="{{neutral}}"
        placeholder="#000000"
      >
      </color-picker>
    </div>
    <div class="form-group friendly">
      <label for="friendly-colour">Friendly Colour</label>
      <color-picker
        name="friendly-colour"
        value="{{friendly}}"
        placeholder="#000000"
      />
    </div>
    {{#if defeated}}
    <div class="form-group defeated">
      <label for="defeated-colour">Defeated Colour</label>
      <color-picker
        name="defeated-colour"
        value="{{defeated}}"
        placeholder="#000000"
      />
    </div>
  </section>
  {{/if}}
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit"><i class="fa fa-check"></i> OK</button>
    <button class="reset">
      <i class="fa fa-undo"></i> Reset Defaults
    </button>
  </footer>
</form>
